<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lori: The Uber of Trucking | Check Out</title>
  <link rel="stylesheet" href="css/lori_style.css">
  <link rel="stylesheet" href="css/lori_grid.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abel|Asap:400,400italic,700,700italic|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/623d2a2264.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body id="checkout"> 

    <!-- NAVIGATION -->

    <div id="masthead">
      <div class="larry-masthead light">
        <div class="larry-masthead__wrapper">
          <div class="larry-masthead__nav-wrapper">
            <ul class="title-area title-area__logo-center">
              <li class="name ">
                <a href="index.html" target="_self">Lori</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="check-out-page" id="content">

        <section id="check-out" class="text-center-weak">
          <div class="row content-section position-relative text-left">
            <div class="medium-8 columns small-12">    
             <h2 class="">Confirmation</h2>
             <p class="u-p-btm">To confirm your order, please confirm the information below and accept the contract <a>[linked]</a></p> 
             <hr>      
             <form class="larry-form check-out-form u-p-top">
              <h4>Your Contact Info </h4>
              <!-- PICK UP INFO -->  
              <div class="  u-p-top row">
                <div class="columns medium-4 small-12 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced"> 
                    <label class="larry-form__label" for="name">Company Name</label>
                    <input name="companyName" class="larry-form__input" value="Company Name" disabled>
                  </div>
                </div>
                <div class="columns medium-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="name">First Name</label>
                    <input name="firstName" class="larry-form__input" value="First Name" disabled>
                  </div>
                </div>
                <div class="columns medium-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="email">Last Name</label>
                    <input name="lastName" class="larry-form__input" value="Last Name" disabled>
                  </div>
                </div>
              </div>

              <div class="  row">
                <div class="columns medium-4 small-12 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="name">Phone Number</label>
                    <input name="companyName" class="larry-form__input" value="+254 XXX XXXX" disabled>
                  </div>
                </div>
                <div class="columns medium-4 small-12 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="name">Email</label>
                    <input name="firstName" class="larry-form__input" value="john@appleseed.com" disabled>
                  </div>
                </div>
              </div>
              <hr class="u-m-top-0">
              <h4>Pick Up Info</h4>
              <div class="u-p-top row">
                <div class="columns medium-12 large-12 small-12 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced"> 
                    <label class="larry-form__label" for="name">Address / Landmark</label>
                    <input name="address" class="larry-form__input" value="Address / Landmark" disabled>
                  </div>
                </div>
                <div class="columns medium-4 large-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="name">City</label>
                    <input name="city" class="larry-form__input" value="City" disabled>
                  </div>
                </div>
                <div class="columns medium-4 large-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="name">Country</label>
                    <input name="country" class="larry-form__input" value="Country" disabled>
                  </div>
                </div>
                <div class="columns medium-4 large-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="email">Pick Up Date</label>
                    <input name="lastName" class="larry-form__input u-m-btm-0" value="2016-04-02" type="date" disabled>
                  </div>
                </div>           
                <div class="columns medium-4 large-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="name">Load Size (tonne)</label>
                    <input name="companyName" class="larry-form__input" value="20" type="number" disabled>
                  </div>
                </div>
                <div class="columns medium-4 large-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced u-m-btm-0">
                    <label class="larry-form__label" for="name">Container No/ID</label>
                    <input name="firstName" class="larry-form__input" value="A7485930" disabled>
                  </div>
                </div>
                <div class="columns medium-4 large-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced ">
                    <label class="larry-form__label" for="name">Container Size</label>
                    <input name="firstName" class="larry-form__input" value="20ft" disabled>
                  </div>
                </div>
              </div>

              <div class="  row">
                <div class="columns large-4 medium-6 small-12 u-p-left-0 u-m-btm">
                  <div class="form-field">
                    <input class="legal-accept__input ng-pristine ng-untouched ng-invalid ng-invalid-required" id="legal-accept" name="legal" ng-model="membership.accepted_terms" ng-required="true" type="checkbox" checked disabled>
                    <label class="legal-accept__label" for="legal-accept">Hazardous Material</label>
                  </div>
                </div>
                <div class="columns large-4 medium-6 small-12 u-p-left-0 u-m-btm">
                  <div class="form-field">
                    <input class="legal-accept__input ng-pristine ng-untouched ng-invalid ng-invalid-required" id="legal-accept" name="legal" ng-model="membership.accepted_terms" ng-required="true" type="checkbox" disabled>
                    <label class="legal-accept__label" for="legal-accept">Custom Clearance</label>
                  </div>
                </div>
              </div>  
              <hr class="u-m-top-0">
              <h4>Delivery Info</h4>
              <div class="  u-p-top row">
                <div class="columns large-12 medium-12 small-12 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced"> 
                    <label class="larry-form__label" for="name">Address / Landmark</label>
                    <input name="address" class="larry-form__input" value="Address / Landmark" disabled>
                  </div>
                </div>
                <div class="columns large-4 medium-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="name">City</label>
                    <input name="firstName" class="larry-form__input" value="City" disabled>
                  </div>
                </div>
                <div class="columns large-4 medium-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="name">Country</label>
                    <input name="country" class="larry-form__input" value="Country" disabled>
                  </div>
                </div>
<!--                 <div class="columns large-4 medium-4 small-6 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced" disabled>
                    <label class="larry-form__label" for="email">Estimated Delivery Date</label>
                    <input name="lastName" class="larry-form__input u-m-btm-0" value="2016-04-06" type="date" disabled>
                  </div>
                </div> -->
                <div class="columns large-12 medium-12 small-12 u-p-left-0">
                  <div class="larry-form__field larry-form__field_full larry-form__field-reduced">
                    <label class="larry-form__label" for="email">Special request</label>
                    <input class="larry-form__input" value="Crane at delivery location" disabled>
                  </div>
                </div>
              </div>
              <hr class="u-m-top-0">
              <div class="larry-form__field larry-form__field_full">
                <!-- <label class="larry-form__label" for="email">Additional note</label> -->
                <textarea placeholder="Input any changes to the above information and we will reach out to you shortly." class="u-m-btm-0"></textarea>                  
              </div>
              <hr>
              <section class="section_full payment-info">
                <div class="payment-form">
                  <h4 class="normal">Payment method<span class="icon icon-lock"></span></h4>

                  <div class="row collapse u-p-top">
                    <div class="small-12 large-6 columns">
                      <div class="form-field">
                        <label class="larry-form__label">Credit Card Number<input autocomplete="off" card-type="type" class="card u-m-top" name="card" ng-disabled="submittingForm" payments-format="card" payments-type-model="type" payments-validate="card" placeholder="Credit Card Number" required="" type="text">
                          <span class="card-type"></span>
                        </label>
                      </div>
                    </div>
                    <div class="small-5 large-2 columns"><div class="form-field">
                      <label class="larry-form__label">mm/yy<input name="expiry" payments-format="expiry" payments-validate="expiry" placeholder="mm/yy" required="" type="tel" class="u-m-top">
                        <small class="error icon icon-alert"></small>
                      </label>
                    </div>
                  </div>
                  <div class="small-3 large-2 columns">
                    <div class="form-field">
                      <label class="larry-form__label">CVC<input name="cvc" pattern="\d*" payments-format="cvc" payments-validate="cvc" placeholder="CVC" required="" type="tel" class="u-m-top">
                        <small class="error icon icon-alert"></small>
                      </label>
                    </div>
                  </div>
                  <div class="small-4 large-2 columns">
                    <div class="form-field">
                      <label class="larry-form__label">Zip Code<input name="zipcode" ng-disabled="submittingForm" ng-model="membership.payment.zipcode" placeholder="Zip Code" required="" type="text" class="u-m-top">
                        <small class="error icon icon-alert">
                        </small>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <div class="form-field legal-accept u-m-btm">
              <input class="legal-accept__input" id="legal-accept" name="legal" type="checkbox" checked>
              <label class="legal-accept__label" for="legal-accept">By checking this box, I accept the charges as lists above, accept the contract as <a>[link]</a> and agree to all <a>Terms &amp; Conditions</a></label>
            </div>
            <div class=" u-hidden-md u-hidden-lg u-m-btm u-hidden-xl u-hidden-hd u-p-btm u-m-top u-p-top">
              <div class="receipt u-m-btm">
                <div class="u-p-btm">
                  <h3>Summary</h3>
                </div>
                <div class="subtotal row">
                  <div class="small-6 columns u-p-x-0"><strong>Subtotal</strong></div>
                  <div class="columns small-6 text-right u-p-x-0">$1069.00</div>
                </div>
                <div class="tax u-p-top row">
                  <div class="small-6 columns u-p-x-0"><strong>Tax (8%)</strong></div>
                  <div class="columns small-6 text-right u-p-x-0">$85.2</div>
                </div>
                <hr class="">
                <div class="total row">
                  <div class="small-6 columns u-p-x-0"><strong>Total</strong></div>
                  <div class="columns small-6 text-right u-p-x-0"><strong>$1154.52</strong></div>
                </div>
              </div>
            </div>
            <div class="form-submit">
              <button class="larry-button larry-button_shout larry-button_full u-m-btm-0 u-m-top">
                <span class="text">Place Order</span>
              </button>
            </div>
          </div>
        </form>
        <!-- REQUEST FORM 2 ENDS -->
        <div class="large-4 medium-4 small-12 columns u-hidden-sm u-hidden-xs">
          <div class="receipt u-m-btm">
            <div class="u-p-btm">
              <h3>Summary</h3>
            </div>
            <div class="subtotal row expanded">
              <span class="medium-6 columns u-p-x-0"><strong>Subtotal</strong></span><span class="medium-6 columns text-right u-p-x-0">$1069.00</span>
            </div>
            <div class="tax u-p-top row expanded">
              <span class="medium-6 columns u-p-x-0"><strong>Tax (8%)</strong></span><span class="medium-6 columns text-right u-p-x-0">$85.2</span>
            </div>
            <hr class="">
            <div class="total row expanded">
              <span class="medium-6 columns u-p-x-0"><strong>Total</strong></span><span class="medium-6 columns text-right u-p-x-0"><strong>$1154.52</strong></span>
            </div>
          </div>
          <h4 class="u-p-top"><!-- <i class="fa fa-comment u-p-right" aria-hidden="true"></i> --><a href="tel:+254795620462">+254 795 62 04 62</a></h4>
          <h4><!-- <i class="fa fa-envelope u-p-right" aria-hidden="true"></i> --><a href="mailto:lorisystemske@gmail.com">lorisystemske@gmail.com</a></h4>
        </div>
      </div>

      

    </div>
  </section>
</div>


</body>
</html>