<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lori: The Uber of Trucking | Quote</title>
  <link rel="stylesheet" href="css/lori_style.css">
  <link rel="stylesheet" href="css/lori_grid.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abel|Asap:400,400italic,700,700italic|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://use.fontawesome.com/623d2a2264.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body id="home">

    <!-- NAVIGATION -->

    <div id="masthead" class="">
      <div class="larry-masthead ">
        <div class="larry-masthead__wrapper ">
          <div class="larry-masthead__nav-wrapper">

            <ul class="title-area">
              <li class="name">
                <a href="index.html" target="_self">Lori</a>
              </li>
              <li class="larry-masthead__nav-item u-hidden-md u-hidden-sm u-hidden-xs">
                <a href="index.html#request-quote" class="larry-masthead__nav-link">Get a New Quote</a>
              </li>
            </ul>
            <div class="larry-masthead__nav-list u-hidden-md u-hidden-sm u-hidden-xs">

              <ul class="larry-masthead__nav-items">

                <li class="larry-masthead__nav-item">
                  <a href="tel:+254795620462" class="larry-masthead__nav-link"><i class="fa fa-comment u-p-right" aria-hidden="true"></i>+254 795 62 04 62</a>
                </li>
                <li class="larry-masthead__nav-item">
                  <a href="mailto:lorisystemske@gmail.com" class="larry-masthead__nav-link"><i class="fa fa-envelope u-p-right" aria-hidden="true"></i>lorisystemske@gmail.com</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="content" class="text-center-weak">
      <div class="row text-left">
        <div class="medium-12 columns u-p-x-0">
          <section class="content-section-padding">

            <div class="u-text-center-sm u-text-center-xs">
              <h2 class="">Hi <span>Mary</span>, here is your quote</h2>
              <h2 class="quote">$1070</h2>
              <h4>Rate: $2/km</h4>
              <h4 class="u-m-top-0">Unique ID: L647382948475</h4>
            </div>
            <div class="row u-m-btm u-p-btm">
            <div class="columns medium-4 large-4 large-centered small-centered">
            <a href="checkout.html" class="larry-button larry-button_shout u-m-btm-0 u-m-top u-m-right small-12">
              <span class="text">Confirmation</span>
            </a>
            </div>
            </div>
            <hr>
            <div class="u-text-center-sm u-text-center-xs">
              <h4 class="u-p-btm">Journey</h4>
              <h3 class="u-p-y">500km</h3>
              <div class="row u-p-x-0">
                <div class="medium-6 columns u-p-top">
                  <h4 class="u-text-disabled">From</h4>
                  <h3>Achieng' Oneko Rd<br>Nairobi, Kenya</h3>
                  <p>May 20th, 2016</p>
                </div>
                <div class="medium-6 columns u-p-top">
                 <h4 class="u-text-disabled">To</h4>
                 <h3>Mfangano Road, <br> Kisumu, Kenya</h3>
                 <p>May 20th, 2016 (estimated)</p>
               </div>
             </div>
           </div>
           <hr>

           <div class="row u-m-top">
            <div class="medium-5 columns small-centered">
              <div class="row">
                <div class="small-4 columns u-p-left-0">
                  <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR2aovDI3Uz74WBGyfn8uJzIf5bi6ousUO83He-Qd1P9ju9iYVOfw" class="round" width="">
                </div>
                <div class="small-8 columns u-p-right-0">
                  <p><strong>Anthony Smith</strong></p>
                  <p><strong>Experience:</strong> 5 years</p>
                  <p><strong>License: </strong> CDL received in 2008</p>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <h4>Cargo Specs</h4>
          <div class="   u-p-top row">
            <div class="larry-form__field larry-form__field-reduced large-4 medium-4 small-6 columns u-p-x-0 u-m-btm-0 u-m-right-0">
              <label class="larry-form__label" for="name">Load Size (tonne)</label>
              <input name="loadSize" class="larry-form__input larry-form__reduced u-m-btm-0" value="20" type="number" disabled>
            </div>
            <div class="larry-form__field larry-form__field-reduced large-4 medium-4 small-6 columns u-p-x-0 u-m-btm-0 u-m-right-0">
              <label class="larry-form__label" for="name">Container ID</label>
              <input name="containerId" type="text/input" class="larry-form__input larry-form__reduced" value="A7485930" disabled>
            </div>
            <div class="larry-form__field larry-form__field-reduced large-4 medium-4 small-12 columns u-p-x-0 u-m-btm-0 u-m-right-0">
              <label class="larry-form__label" for="name">Container Size</label>
              <input name="firstName" class="larry-form__input larry-form__reduced" value="20ft" disabled>
            </div>
          </div>
          <div class="u-p-btm row">
            <div class="form-field legal-accept columns large-4 medium-4 small-12 u-p-left-0">
              <input class="legal-accept__input ng-pristine ng-untouched ng-invalid ng-invalid-required" id="legal-accept" name="legal" ng-model="membership.accepted_terms" ng-required="true" type="checkbox" checked disabled>
              <label class="legal-accept__label" for="legal-accept">Hazardous Material</label>
            </div>
            <div class="form-field legal-accept columns large-4 medium-4 small-12 u-p-left-0">
              <input class="legal-accept__input ng-pristine ng-untouched ng-invalid ng-invalid-required" id="legal-accept" name="legal" ng-model="membership.accepted_terms" ng-required="true" type="checkbox" disabled>
              <label class="legal-accept__label" for="legal-accept">Custom Clearance</label>
            </div>
          </div>

          <hr class="u-m-top-0">
          <h4>Contact Info</h4>

          <div class="   u-p-top row">
            <div class="larry-form__field larry-form__field-reduced columns large-4 medium-4 small-12 u-m-btm-0 u-p-left-0 u-m-right-0"> 
              <label class="larry-form__label" for="name">Company Name</label>
              <input name="companyName" class="larry-form__input larry-form__reduced" value="FastCo" disabled>
            </div>
            <div class="larry-form__field larry-form__field-reduced columns large-4 medium-4 small-6 u-m-btm-0 u-p-left-0 u-m-right-0">
              <label class="larry-form__label" for="name">First Name</label>
              <input name="firstName" class="larry-form__input larry-form__reduced" value="John" disabled>
            </div>
            <div class="larry-form__field larry-form__field-reduced columns large-4 medium-4 small-6 u-m-btm-0 u-p-left-0 u-m-right-0">
              <label class="larry-form__label" for="email">Last Name</label>
              <input name="lastName" class="larry-form__input larry-form__reduced" value="Appleseed" disabled>
            </div>
          </div>
          <hr class="u-m-top-0">
          <div class="u-text-center-sm u-p-y">
            <a href="checkout.html" class="larry-button larry-button_shout u-m-btm-0 u-m-top u-m-right small-12 large-4">
              <span class="text">Confirmation</span>
            </a>
            <a href="index.html#request-quote" class="larry-button larry-button_shout larry-button_shout-outline u-m-btm-0 u-m-top small-12 large-4">
              <span class="text">Not what I am looking for</span>
            </a>
          </div>

        </section>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="larry-footer">
    <div class="larry-container">
      <div class="row larry-footer__container">
        <div class="large-3 columns"><img src="img/logo.png" class="larry-footer__stamp u-m-top" width="100px"></div>
        <div class="large-9 columns">
          <!-- <nav class="larry-footer__nav">
            <ul class="larry-footer__nav-list">
              <li class="larry-footer__nav-item"><a href="#" class="larry-footer__nav-link">About Us</a></li>
              <li class="larry-footer__nav-item"><a href="#" class="larry-footer__nav-link">FAQ</a></li>
              <li class="larry-footer__nav-item"><a href="#" class="larry-footer__nav-link">Press</a></li>
              <li class="larry-footer__nav-item"><a href="#" class="larry-footer__nav-link">Privacy Policy</a></li>
            </ul>
          </nav> -->
          <div class="row">
            <div class="sm-12 lg-6 col">
              <address class="larry-footer__address">
                <strong>Lori</strong><br><span class="u-text-detroit">
                <a href="tel:+254 795 62 04 62">+254 877.275.4530</a><br></span>
                <a href="mailto:lorisystemske@gmail.com" class="larry-footer__link">lorisystemske@gmail.com</a></address>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  </html>